.pets-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pet-section {
    flex: 1;
}

.card-text {
    white-space: pre-wrap;
}

.pets-footer {
    text-align: center;
}